<div class="blog-comment {{ comment.comment_type }}" id="blog-comment-{{ comment.ID }}">
	<h5 class="comment-author">{{ __('%s says', domain)|format(comment.author.name) }}</h5>
	<div class="comment-content">{{ comment.comment_content|wpautop }}</div>
	<section class="comment-box">
		{% if post.comments %}
			<h4>{{ __('Replies', domain) }}</h4>
			<div class="comments">
				{% for cmt in comment.children %}
					{% include '_partials/comment.twig' with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}
		{% include '_partials/comment-form.twig' %}
	</section>
</div>
